{% extends 'base.admin.html.twig' %}

{% block body %}
    {% include 'components/admin_alerts.html.twig' %}

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h4 class="m-0 font-weight-bold text-primary">{{ 'admin.blog.event.list.header'|trans }}</h4>
            <a href="{{ path('admin_event_create') }}" class="btn btn-success btn-sm shadow-sm">{{ 'admin.blog.event.list.create'|trans }}</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table" style="width: 100%">
                    <thead>
                    <tr>
                        <th>{{ 'admin.blog.event.list.table.name'|trans }}</th>
                        <th>{{ 'admin.blog.event.list.table.date'|trans }}</th>
                        <th>{{ 'admin.blog.event.list.table.price'|trans }}</th>
                        <th>{{ 'admin.blog.event.list.table.subscribers'|trans }}</th>
                        <th>{{ 'admin.blog.event.list.table.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.date|date('d-m-Y') }}</td>
                        <td>{{ event.price }}</td>
                        <td><a href="{{ path('admin_event_subscribers', {'event': event.id}) }}">{{ event.registrations.count }}</a></td>
                        <td>
                            <a href="{{ path('admin_event_edit', {'event': event.id}) }}"><i class="fa fas fa-pencil-alt"></i></a>
                            <a href="{{ path('admin_event_remove', {'event': event.id}) }}" onclick="return confirm('{{ 'admin.event.list.confirm.remove'|trans }}')"><i class="fa fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}