<div class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('landing_home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-fw fa-graduation-cap"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{ 'components.admin.sidebar.brand'|trans }}</div>
    </a>

    <hr class="sidebar-divider my-0">

    <div class="nav-item {% if app.request.get('_route') starts with 'admin_event_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('admin_event_list') }}">
            <i class="fas fa-fw fa-chalkboard-teacher"></i>
            <span>{{ 'components.admin.sidebar.events'|trans }}</span>
        </a>
    </div>

    <div class="nav-item {% if app.request.get('_route') starts with 'admin_blog_post_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('admin_blog_post_list') }}">
            <i class="fas fa-fw fa-quote-left"></i>
            <span>{{ 'components.admin.sidebar.posts'|trans }}</span>
        </a>
    </div>

    <div class="nav-item {% if app.request.get('_route') starts with 'admin_blog_categor' %}active{% endif %}">
        <a class="nav-link" href="{{ path('admin_blog_category_list') }}">
            <i class="fas fa-fw fa-folder"></i>
            <span>{{ 'components.admin.sidebar.categories'|trans }}</span>
        </a>
    </div>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</div>