<footer class="container mt-4">
    <div class="row">
        <div class="col-4 font-weight-bold">
            <div class="border-top pt-3">{{ 'component.header.brand'|trans }}</div>
            <br>
        </div>
        <div class="col-4">
            <dl class="border-top pt-3 text-right">
                <dd><a class="text-secondary" href="#">{{ 'component.header.menu.home'|trans }}</a></dd>
                <dd><a class="text-secondary" href="#">{{ 'component.header.menu.events'|trans }}</a></dd>
                <dd><a class="text-secondary" href="#">{{ 'component.header.menu.news'|trans }}</a></dd>
                <dd><a class="text-secondary" href="#">{{ 'component.header.menu.login'|trans }}</a></dd>
            </dl>
        </div>
        <div class="col-4">
            <div class="border-top pt-3 text-secondary text-right">
                © Наталія Ніколенко, {{ 'now'|date('Y') }}
            </div>
        </div>
    </div>
</footer>