<nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{{ path('landing_home') }}">{{ 'components.landing.header.brand'|trans }}</a>
        <div>
            <div class="d-inline-flex d-lg-none align-content-end">
                <a class="text-dark text-decoration-none d-inline-flex mr-2 mr-sm-3" href="mailto:{{ app_email }}">
                    <i class="fa fa-envelope"></i>
                </a>
                <a class="text-dark text-decoration-none d-inline-flex mr-2 mr-sm-3" href="tel:+380675624328">
                    <i class="fa fa-tablet-alt"></i>
                </a>
                <a class="text-dark text-decoration-none d-inline-flex mr-2 mr-sm-3" target="_blank" href="https://www.facebook.com/acnnschool">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="text-dark text-decoration-none d-inline-flex mr-2 mr-sm-3" target="_blank" href="http://instagram.com/acnn_school">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark text-decoration-none d-inline-flex mr-2 mr-sm-3" target="_blank" href="http://t.me/acnn_school">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if app.request.get('_route') == 'landing_home' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('landing_home') }}">{{ 'components.landing.header.menu.home'|trans }}</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') starts with 'landing_blog' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('landing_blog') }}">{{ 'components.landing.header.menu.blog'|trans }}</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'landing_contact' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('landing_contact') }}">{{ 'components.landing.header.menu.contact'|trans }}</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'landing_testimonials' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('landing_testimonials') }}">{{ 'components.landing.header.menu.testimonials'|trans }}</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'landing_about' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('landing_about') }}">{{ 'components.landing.header.menu.about'|trans }}</a>
                </li>
                <li class="nav-item d-none d-lg-flex align-items-center ml-2">
                    <a class="nav-link d-inline-flex" href="mailto:{{ app_email }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a class="nav-link d-inline-flex" href="tel:+380675624328">
                        <i class="fa fa-tablet-alt"></i>
                    </a>
                    <a class="nav-link d-inline-flex" target="_blank" href="https://www.facebook.com/acnnschool">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="nav-link d-inline-flex" target="_blank" href="http://instagram.com/acnn_school">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="nav-link d-inline-flex" target="_blank" href="http://t.me/acnn_school">
                        <i class="fab fa-telegram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>