{% extends 'base.landing.html.twig' %}

{% block body %}
    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="pt-md-5 pb-md-5 mx-auto text-center" style="max-width: 700px">
            <h1 class="display-4 font-weight-bold">{{ 'landing.home.title'|trans }}</h1>
            <p class="lead">{{ 'landing.home.lead'|trans }}</p>
            <p class="lead font-weight-bold">{{ 'landing.home.meta'|trans }}</p>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="pt-2">
                        <p>
                            <span class="lead font-weight-normal">Бізнес-тренер Наталія Ніколенко</span>
                            <br>
                            <span class="text-muted">Сертифікований бухгалтер – практик, САР</span>
                        </p>

                        <span>Диплом ACCA DipIFR</span><br>
                        <span>20 років практичної бухгалтерії</span><br>
                        <span>10+ сфер бізнесу</span><br>
                        <span>Власник он-лайн школи професійного розвитку та особистої ефективності</span><br>
                        <span>Автор навчальних курсів:</span>
                        <ul>
                            <li>Податки в Україні</li>
                            <li>Бухгалтерський облік за П(С)БО</li>
                            <li>Фінансовий облік за МСФО</li>
                            <li>Особиста ефективність та професійне зростання</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-none d-inline text-center">
                    <img style="max-width: 300px" class="rounded-circle img-fluid img-thumbnail" src="{{ asset('img/me.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div id="events" class="container text-center">
            <h2 class="mb-4">Найближчі події</h2>
            <div class="owl-carousel owl-theme">
                {% for event in events %}
                    <div class="card" style="width: 100%">
                        <div class="card-header d-flex align-items-center" style="height: 100px">
                            <p class="lead my-0 font-weight-normal">{{ event.name }}</p>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3">
                                <span class="lead text-muted">{{ event.date|date('d-m-Y') }}</span>
                                <span class="lead font-weight-bold">₴{{ event.price }}</span>
                            </div>

                            <div class="card-limited-inner-text mb-3 nano">
                                <div class="nano-content">{{ event.preview|raw }}</div>
                            </div>

                            <a
                                    href="{{ path('landing_register', {'event': event.id}) }}"
                                    type="button"
                                    class="btn btn-block btn-primary">
                                Дізнатись більш детально
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-center mb-4">
                    <img class="img-fluid" src="{{ asset('img/1.jpg') }}" alt="">
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <p class="lead font-weight-bold">Вам будуть корисні наші тренінги і курси, якщо ви бажаєте:</p>
                    <ul>
                        <li>бути висококваліфікованим спеціалістом</li>
                        <li>мати власну професійну думку</li>
                        <li>стати лідером у своїй справі</li>
                        <li>успішно будувати кар’єру</li>
                        <li>використовувати тайм-менеджмент для ефективного розподілу часу на роботу та особисте життя</li>
                        <li>навчитися планувати та вийти з хаосу незакінчених справ</li>
                    </ul>

                    <p>
                        <strong>Наша місія</strong> – підвищення цінності професії «бухгалтер», шляхом навчання
                        спеціалістів з обліку до рівня професійного бухгалтера, який бачить за цифрами
                        реальний світ економіки
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <p class="lead font-weight-bold">Як проходять наші тренінги?</p>

                    <p>В вашому особистому кабінеті ви переглядаєте відео уроки та отримуєте домашні завдання</p>
                    <p>Щотижня проходять он-лайн відео сесії з лектором, які присвячуються розбору практичних завдань</p>
                    <p>Закритий чат для спілкування учасників та відповідей на запитання</p>
                    <p>По закінченню тренінгу обов’язкова контрольна робота</p>
                    <p>Сертифікат чекає на кандидатів, які успішно виконали контрольну роботу</p>
                </div>
                <div class="col-12 col-md-6 text-center mb-4">
                    <img class="img-fluid" src="{{ asset('img/2.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}