{% extends 'base.landing.html.twig' %}

{% block body %}
    {% include 'components/landing_header.html.twig' %}

    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="pt-md-5 pb-md-5 mx-auto text-center" style="max-width: 700px">
            <h1 class="display-4 font-weight-bold">{{ 'landing.home.title'|trans }}</h1>
            <p class="lead">{{ 'landing.home.lead'|trans }}</p>
            <p class="lead font-weight-bold">{{ 'landing.home.meta'|trans }}</p>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="pt-2">
                        <p>
                            <span class="lead font-weight-normal">Бізнес-тренер Наталія Ніколенко</span>
                            <br>
                            <span class="text-muted">Сертифікований бухгалтер – практик, САР</span>
                        </p>

                        <dl class="ml-2">
                            <dd>Диплом ACCA DipIFR</dd>
                            <dd>20 років практичної бухгалтерії</dd>
                            <dd>10+ сфер бізнесу</dd>
                            <dd>Власник он-лайн школи професійного розвитку та особистої ефективності</dd>
                            <dd>
                                Автор навчальних курсів «Податки», «Фінансовий облік за МСФО»,
                                «Управлінський облік для бухгалтера»,
                                Автор он-лайн програми «Особиста ефективність та професійне зростання»
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-none d-inline text-center">
                    <img style="max-width: 300px" class="rounded-circle img-fluid img-thumbnail" src="https://placeimg.com/640/640/nature?t=1594665547688" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <img style="max-width: 330px" class="img-fluid" src="https://placeimg.com/500/500/tech" alt="">
                </div>
                <div class="col-12 col-md-6">
                    <p class="lead font-weight-bold">Вам будуть корисні наші тренінги і курси, якщо ви бажаєте:</p>
                    <ul>
                        <li>бути висококваліфікованим спеціалістом</li>
                        <li>мати власну професійну думку</li>
                        <li>стати лідером у своїй справі</li>
                        <li>успішно будувати кар’єру</li>
                        <li>використовувати тайм-менеджмент для ефективного розподілу часу на роботу та особисте життя</li>
                        <li>навчитися планувати та вийти з хаосу незакінчених справ</li>
                    </ul>

                    <p>
                        <strong>Моя місія</strong> – підвищення цінності професії «бухгалтер», шляхом навчання
                        спеціалістів з обліку до рівня професійного бухгалтера, який бачить за цифрами
                        реальний світ економіки
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="lead font-weight-bold">Як проходять наші тренінги?</p>

                    <p>В вашому особистому кабінеті ви переглядаєте відео уроки та отримуєте домашні завдання</p>
                    <p>Щотижня проходять он-лайн відео сесії з лектором, які присвячуються розбору практичних завдань</p>
                    <p>Закритий чат для спілкування учасників та відповідей на запитання</p>
                    <p>По закінченню тренінгу обов’язкова контрольна робота</p>
                    <p>Сертифікат чекає на кандидатів, які успішно виконали контрольну роботу</p>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img style="max-width: 330px" class="img-fluid" src="https://placeimg.com/500/500/arch" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="container text-center">
            <p class="lead display-3 mb-4">Найближчі події</p>
            <div class="card-deck">
                {% for event in events %}
                    <div class="card position-relative pb-5">
                        <div class="card-header d-flex align-items-center" style="height: 140px">
                            <h4 class="my-0 font-weight-normal">{{ event.name }}</h4>
                        </div>
                        <div class="card-body">
                            <p class="display-3 lead font-weight-bold">₴{{ event.price }}</p>
                            <p>
                                <span class="text-muted">{{ event.date|date('d-m-Y') }}</span>

                                <br><br>

                                {{ event.preview }}
                            </p>
                            <button
                                    style="width: calc(100% - 40px); bottom: 20px"
                                    type="button"
                                    data-toggle="modal"
                                    data-target="#card-{{ event.id }}"
                                    class="btn btn-block btn-primary position-absolute">
                                Дізнатись більш детально
                            </button>
                        </div>

                        <div class="modal fade" id="card-{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="card-1" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            {{ event.name }}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ event.description|raw }}

                                        <div class="border-top mb-2"></div>

                                        <form action="" style="max-width: 500px" class="m-auto">
                                            <p class="lead">Зареєструватись</p>

                                            <div class="form-group">
                                                <label for="card-{{ event.id }}-name" class="form-label">Ім’я</label>
                                                <input type="text" id="card-{{ event.id }}-name" name="card-name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="card-{{ event.id }}-email" class="form-label">Email</label>
                                                <input type="email" id="card-{{ event.id }}-email" name="card-email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="card-{{ event.id }}-phone" class="form-label">Телефон</label>
                                                <input type="text" id="card-{{ event.id }}-phone" name="card-phone" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Зареєструватись</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5 bg-light">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4 text-center">Зв'язатися з нами</h1>
                <form>
                    <div class="form-group">
                        <label for="contact-name">Ім’я</label>
                        <input type="text" class="form-control" id="contact-name">
                    </div>
                    <div class="form-group">
                        <label for="contact-email">Email</label>
                        <input type="email" class="form-control" id="contact-email">
                    </div>
                    <div class="form-group">
                        <label for="contact-question">Питання</label>
                        <textarea class="form-control" id="contact-question"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Надіслати</button>
                </form>
            </div>
        </div>
    </section>

    {% include 'components/landing_footer.html.twig' %}
{% endblock %}