{% extends 'base.landing.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <h1 class="display-4 font-weight-bold">{{ event.name }}</h1>
                {{ event.description|raw }}

                {% if event.program %}
                    <a href="{{ absolute_url(event.program) }}">
                        {{ 'landing.register.readProgram'|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-4">
                <div class="p-3 bg-light rounded">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="lead">{{ 'landing.register.lead'|trans }}</span>
                        <a class="btn btn-secondary btn-sm" href="{{ path('landing_home') }}#events">
                            {{ 'landing.register.back'|trans }}
                        </a>
                    </div>
                    {{ form(form) }}

                    <a href="{{ path('landing_pp') }}">{{ 'components.landing.header.menu.pp'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}